.rating {
    border: none;
    float: left;
  }
  
  .rating > input {
    display: none;
  }
  
  .rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005"; /* Unicode for solid star */
  }
  
  .rating > .half:before {
    content: "\f089"; /* Unicode for half star */
    position: absolute;
  }
  
  .rating > label {
    color: #ddd; /* Color of unselected star */
    float: right;
  }
  
  .rating > input:checked ~ label,
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #FFD700; /* Color of selected star */
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label,
  .rating > input:checked ~ label:hover ~ label {
    color: #FFED85; /* Color of star on hover */
  }
  